.highlighter-rouge { margin-bottom: 1rem; }
.highlight pre, pre, .highlight .hll, .highlight code { background-color: $background-light-base; }
.highlight .c { color: $sk-dark-tertiary; font-style: italic; }
.highlight .err { color: $sk-orange; background-color: $sk-orange-8; }
.highlight .k { font-weight: $font-semibold; }
.highlight .o { font-weight: $font-semibold; }
.highlight .cm { color: $sk-dark-tertiary; font-style: italic; }
.highlight .cp { color: $sk-dark-tertiary; font-weight: $font-semibold; }
.highlight .c1 { color: $sk-dark-tertiary; font-style: italic; }
.highlight .cs { color: $sk-dark-tertiary; font-weight: $font-semibold; font-style: italic; }
.highlight .gd { color: $sk-dark-base; background-color: $sk-orange-8; }
.highlight .gd .x { color: $sk-dark-base; background-color: $background-light-primary; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: $sk-orange2; }
.highlight .gh { color: $sk-dark-tertiary; }
.highlight .gi { color: $sk-dark-base; background-color: #ddffdd; }
.highlight .gi .x { color: $sk-dark-base; background-color: $sk-teal-2; }
.highlight .go { color: $sk-dark-secondary; }
.highlight .gp { color: $sk-dark-primary; }
.highlight .gs { font-weight: $font-semibold; }
.highlight .gu { color: $sk-purple6; font-weight: $font-semibold; }
.highlight .gt { color: $sk-orange; }
.highlight .kc { font-weight: $font-semibold; }
.highlight .kd { font-weight: $font-semibold; }
.highlight .kn { font-weight: $font-semibold; }
.highlight .kp { font-weight: $font-semibold; }
.highlight .kr { font-weight: $font-semibold; }
.highlight .kt { color: $sk-purple8; font-weight: $font-semibold; }
.highlight .m { color: $sk-green2; }
.highlight .s { color: $sk-orange; }
.highlight .n { color: $sk-dark-primary; }
.highlight .na { color: $sk-green4; }
.highlight .nb { color: $sk-blue2; }
.highlight .nc { color: $sk-purple8; font-weight: $font-semibold; }
.highlight .no { color: $sk-green4; }
.highlight .ni { color: $sk-purple4; }
.highlight .ne { color: $sk-orange; font-weight: $font-semibold; }
.highlight .nf { color: $sk-orange; font-weight: $font-semibold; }
.highlight .nn { color: $sk-dark-primary; }
.highlight .nt { color: $sk-indigo2; }
.highlight .nv { color: $sk-green4; }
//.highlight .nx { color: $sk-dark-primary; }
.highlight .ow { font-weight: $font-semibold; }
.highlight .w { color: #bbbbbb; }
.highlight .mf { color: $sk-green2; }
.highlight .mh { color: $sk-green2; }
.highlight .mi { color: $sk-green2; }
.highlight .mo { color: $sk-green2; }
.highlight .sb { color: $sk-orange; }
.highlight .sc { color: $sk-orange; }
.highlight .sd { color: $sk-orange; }
.highlight .s2 { color: $sk-orange; }
.highlight .se { color: $sk-orange; }
.highlight .sh { color: $sk-orange; }
.highlight .si { color: $sk-orange; }
.highlight .sx { color: $sk-orange; }
.highlight .sr { color: $sk-green2; }
.highlight .s1 { color: $sk-orange; }
.highlight .ss { color: $sk-purple4; }
.highlight .bp { color: $sk-dark-tertiary; }
.highlight .vc { color: $sk-green4; }
.highlight .vg { color: $sk-green4; }
.highlight .vi { color: $sk-green4; }
.highlight .il { color: $sk-teal4; }
.highlight .gc { color: $sk-dark-tertiary; background-color: $background-light-primary; }

//Table styles (for blocks of code with line numbers)
.highlight table {
  //border-collapse: separate;
  border-radius: $radius-default;
  border: 1px solid $border-dark-high;
  width: 100%;
}

.highlight table,
.highlight tbody {
  display: block;
}

.highlight tr {
  display: flex;
  width: 100%;
}

.highlight .gutter.gl {
  padding: 1rem;
  background: #fbfbfb;
  border-right: 1px solid $border-dark-low;
  -webkit-user-select: none;
  user-select: none;
}

.highlight .gutter.gl pre {
  color: $sk-dark-tertiary;
  background: transparent;
}

.highlight td.code {
  width: calc(100% - 4.5rem);
  flex: 1 0 0;
  position: relative;
}

.highlight td.code::after {
  content: "";
  width: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba( $background-light-base , 0 ),$background-light-base);
}

.highlight td.code pre {
  padding: 1rem;
  white-space: pre;
  overflow-wrap: inherit;
  overflow-x: auto;
}
