/*Basic link styles*/
a {
  text-decoration: none;
  font-weight: $font-semibold;
  color: $action-dark;
  transition: color .12s $ease-in-out-quad,
              border-color .12s $ease-in-out-quad,
              background-color .12s $ease-in-out-quad,
              background-image .12s $ease-in-out-quad;
}

a:hover,
a:focus {
  color: $action-dark-high;
}

a:active {
  color: $action-dark-low;
  -webkit-tap-highlight-color: rgba( $action-high, .08 );
}

.background-dark a {
  color: $action;
}

.background-dark a:hover,
.background-dark a:focus {
  color: $action-high;
}

.background-dark a:active {
  color: $action-low;
}
