a {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  z-index: 2;
  text-decoration: underline solid;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: .10em;
  text-underline-offset: .16em;
  text-decoration-skip-ink: auto;
  color: inherit;
  font-style: inherit;
  will-change: color;
  transition: color .16s var(--easing);
}

a:hover,
a:focus {
  color: var(--background-color);
}

a::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--color-accent);
  border-radius: 1px;
  -webkit-backface-visibility: hidden;
  transform: scale(1, 0);
  transform-origin: bottom;
  mix-blend-mode: color;
  will-change: transform;
  transition: transform .16s var(--easing);
}

a:hover::before,
a:focus:before {
  transform: scale(1.04, 1) rotate(.6deg);
  backface-visibility: hidden;
}

@media (pointer: coarse) {
  a:hover::before,
  a:focus:before {
    transform: scale(1.04, 1);
  }
}

a:hover em,
a:focus em {
  box-shadow: none;
  text-shadow: none;
}

//Don't animate links if user has set reduce motion (accessibility preference)
@media (prefers-reduced-motion: reduce) {
  a {
    transition: none;
  }

  a::before {
    transition: none;
  }
}
