a {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  z-index: 2;
  color: inherit;
  font-style: inherit;

  will-change: color;
  transition: color .16s var(--easing);
}

a:not(.button) {
  text-decoration: underline solid;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: .10em;
  text-underline-offset: .16em;
  text-decoration-skip-ink: auto;
}

a:is(:hover, :focus) {
  color: var(--background-color);
}

.button {
  text-decoration: none;
  color: var(--color-accent);
  border: .05em solid var(--color-accent);
  border-radius: 1px;
  padding: .4em 1em .5em;
  //font-weight: var(--font-weight-bold);
}

a::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--color-accent);
  border-radius: 1px;
  -webkit-backface-visibility: hidden;
  transform: scale(1, 0);
  opacity: 0;
  transform-origin: bottom;
  mix-blend-mode: color;
  will-change: transform;
  transition: all .16s var(--easing);
}

a:is(:hover, :focus)::before {
  transform: scale(1.04, 1) rotate(.6deg);
  -webkit-backface-visibility: hidden;
  opacity: 1;
}

@include tablet-and-below {
  a:is(:hover,:focus)::before {
    transform: scale(1.04, 1);
  }
}

// Don't animate links if user has set reduce motion (accessibility preference)
@media (prefers-reduced-motion: reduce) {
  a {
    transition: none;
  }

  a::before {
    transition: none;
  }
}

// Icon after links
a[href^="https://"]:not([href*="intemperie.me"])::after,
a[href^="mailto:"]::after,
a.view-more::after {
  display: inline-block;
  margin-left: .125em;
  font-size: .8em;
  vertical-align: baseline;
  opacity: .8;
}

// External links
a[href^="https://"]:not([href*="intemperie.me"])::after,
a[href^="mailto:"]::after {
   content: "\2197";//↗︎
}

// View more links
a.view-more::after {
  content: "\2192";//→
}
