.masthead header {
  padding: 1rem;
}

.masthead .display1 {
  padding-bottom: var(--font-space-md);
  border-bottom: .16rem solid var(--color-accent);
}

.masthead .caption {
  margin-bottom: 0;
}

.masthead .caption + h2 {
  margin-top: 0;
}

.masthead img {
  display: block;
}

@include tablet-and-above {
  .masthead {
    min-height: 85vh;
  }

  .masthead {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .masthead header {
    max-width: 58%;
    position: relative;
    padding: 2rem;
    z-index: 1;
  }

  // .masthead .display1 {
  //   font-size: var(--font-size-max);
  // }

  // Scrim
  .masthead .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    opacity: .20;
    z-index: 0;
    -webkit-mask-image: linear-gradient(to bottom,
      hsl(0, 0%, 0%) 0%,
      hsla(0, 0%, 0%, 0.995) 14%,
      hsla(0, 0%, 0%, 0.983) 26.2%,
      hsla(0, 0%, 0%, 0.964) 36.8%,
      hsla(0, 0%, 0%, 0.938) 45.9%,
      hsla(0, 0%, 0%, 0.903) 53.7%,
      hsla(0, 0%, 0%, 0.86) 60.4%,
      hsla(0, 0%, 0%, 0.807) 66.2%,
      hsla(0, 0%, 0%, 0.745) 71.2%,
      hsla(0, 0%, 0%, 0.673) 75.6%,
      hsla(0, 0%, 0%, 0.59) 79.6%,
      hsla(0, 0%, 0%, 0.497) 83.4%,
      hsla(0, 0%, 0%, 0.391) 87.2%,
      hsla(0, 0%, 0%, 0.273) 91.1%,
      hsla(0, 0%, 0%, 0.143) 95.3%,
      hsla(0, 0%, 0%, 0) 100%);
  }
}
