.masthead header {
  padding: 2rem 1rem 1rem;
}

.masthead .display1 {
  padding-bottom: var(--font-space-md);
  border-bottom: .16rem solid var(--color-accent);
}

.masthead .caption {
  margin-bottom: 0;
}

.masthead .caption + h2 {
  margin-top: 0;
}

.masthead img {
  display: block;
  position: relative;
  z-index: 0;
}

@include tablet-and-above {
  .masthead {
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr min(42%, 100%) 1fr;
    position: relative;
  }

  .masthead > header {
    grid-column: 4;
    align-self: center;
    padding: 2rem;
    z-index: 1;
  }

  .masthead .full-width {
    grid-column: 1 / 6;
  }

  .masthead .full-width {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    opacity: .20;
    z-index: 0;

    // Scrim
    -webkit-mask-image: linear-gradient(to bottom,
      hsl(0, 0%, 0%) 0%,
      hsla(0, 0%, 0%, 0.995) 14%,
      hsla(0, 0%, 0%, 0.983) 26.2%,
      hsla(0, 0%, 0%, 0.964) 36.8%,
      hsla(0, 0%, 0%, 0.938) 45.9%,
      hsla(0, 0%, 0%, 0.903) 53.7%,
      hsla(0, 0%, 0%, 0.86) 60.4%,
      hsla(0, 0%, 0%, 0.807) 66.2%,
      hsla(0, 0%, 0%, 0.745) 71.2%,
      hsla(0, 0%, 0%, 0.673) 75.6%,
      hsla(0, 0%, 0%, 0.59) 79.6%,
      hsla(0, 0%, 0%, 0.497) 83.4%,
      hsla(0, 0%, 0%, 0.391) 87.2%,
      hsla(0, 0%, 0%, 0.273) 91.1%,
      hsla(0, 0%, 0%, 0.143) 95.3%,
      hsla(0, 0%, 0%, 0) 100%);
  }

  .masthead .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

@include wide-and-below {
  .masthead > header {
    grid-column: 4 / 6;
  }
}

@include wide-and-above {
  .masthead > header {
    padding-right: 0;
  }
}
