.nav-main {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  -webkit-mask-image: linear-gradient(to right, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,1) 4%, hsla(0,0%,0%,1) 94%, hsla(0,0%,0%,0) 100%);
}

.nav-main::-webkit-scrollbar {
  display: none;
}

.nav-main ol {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 62.5rem;
  padding: 0 .5rem;
  margin: 0 auto;
}

.nav-main li {
  padding: 1rem;
}

.nav-main a {
  display: block;
  text-decoration: none;
}

// Improve touch targets of the navigation for limited pointer devices (as touch)
@media (pointer: coarse) {
  .nav-main li {
    padding: 0;
  }

  .nav-main a {
    padding: 1rem .75rem;
  }
}
