.nav-main {
  display: flex;
  width: 100%;
}

.nav-main {
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid var(--color-border);
  position: fixed;
  top: 0;
  z-index: 3;
  background: var(--background-color-transparent);
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}

.nav-footer {
  position: relative;
  overflow: hidden;
  padding: 4rem 0 8rem;
}

.nav-footer::before {
  content: "";
  display: block;
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpc28iIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggY2xhc3M9InNoYXBlIiBmaWxsPSJ2YXIoLS1iYWNrZ3JvdW5kLWNvbG9yLWFsdGVybmF0ZSkiIGQ9Im0xMS41MDAyIDVjLjgyODQgMCAxLjUtLjY3MTU3IDEuNS0xLjVzLS42NzE2LTEuNS0xLjUtMS41LTEuNS42NzE1Ny0xLjUgMS41LjY3MTYgMS41IDEuNSAxLjV6bS02LjE3MDY5LTEuNjU4MzVjLjI3NjQtLjU1Mjc4IDEuMDY1MjUtLjU1Mjc4IDEuMzQxNjQgMGwyLjk3NjA4IDUuOTUyMTYgMS4xOTkwNy0yLjEzMTcxYy4yODY3LS41MDk3NCAxLjAyMDctLjUwOTc0IDEuMzA3NCAwbDMuMjE3NiA1LjcyMDJjLjI4MTIuNS0uMDgwMSAxLjExNzctLjY1MzcgMS4xMTc3aC0zLjkyNjItLjAwNDYtOS41NzI5NGMtLjU1NzUzOCAwLS45MjAxNi0uNTg2Ny0uNjcwODIyLTEuMDg1NHoiIC8+PC9zdmc+");
  opacity: .12;
}

.nav-main ol {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 62.5rem;
  padding: 0 .5rem;
  margin: 0 auto;
}

@include tablet-and-above {
  .nav-footer ol {
    padding: 0 !important;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

.nav-main li {
  padding: 1rem;
}

.nav-main a,
.nav-footer a {
  display: block;
  text-decoration: none;
}

.logo .iso {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  transform: translateY(-.12em);
  margin-right: .25ch;
  -webkit-backface-visibility: hidden;
}

.logo .iso .shape {
  fill: var(--color-accent);
  will-change: fill;
  transition: fill .16s var(--easing);
}

.logo:hover .iso .shape,
.logo:focus .iso .shape {
  fill: var(--background-color);
}

.nav-main a.active {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: .10em;
  text-underline-offset: .16em;
  text-decoration-skip-ink: auto;
}

// Improve touch targets of the navigation and various tweaks
@include tablet-and-below {
  // .nav-main {
  //   -webkit-mask-image: linear-gradient(to right, hsla(0,0%,0%,1) 0%, hsla(0,0%,0%,1) 96%, hsla(0,0%,0%,0) 100%);
  // }

  .nav-main::-webkit-scrollbar {
    display: none;
  }

  .nav-main li,
  .nav-footer li {
    padding: 0;
  }

  .nav-main a,
  .nav-footer a {
    padding: 1rem .75rem;
  }

  .nav-footer {
    padding-top: 1rem;
  }

  .nav-footer a {
    border-bottom: 1px solid var(--color-border);
    position: relative;
  }

  .nav-footer a::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: .16 !important;
  }
}
