/*Basic navigation styles*/
nav ul,
nav ol {
  list-style: none;
}

nav ul,
nav ol {
  margin: 0;
  padding: 0;
}

@include tablet-and-above {
  nav li {
    display: inline-block;
    vertical-align: middle;
  }
}
