.timeline {
  margin-bottom: 2rem;
}

.timeline:not(:first-of-type) {
  margin-top: 8rem;
  position: relative;
}

.timeline:not(:first-of-type)::before {
  content: "";
  display: block;
  width: .20rem;
  height: 6rem;
  background: var(--color-border);
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
}

.timeline__small {
  margin-bottom: 2rem;
}

.timeline__small + .timeline__small {
  margin-top: 4rem;
}

.timeline__small + .timeline__small::before {
  height: 2rem;
  top: -4rem;
}

.timeline > :is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
}

.media {
  margin: 2rem auto;
  text-align: center;
}

.timeline .media {
  margin-bottom: 0;
}

.media figcaption {
  padding: 0 .5rem;
  font-size: var(--font-size-sm);
}

.media .project-data,
.media img {
  max-width: 1600px;
  margin: 0 auto;
}

.media img {
  width: 100%;
  margin-bottom: .5rem;
  height: auto;
}

.media .project-data {
  display: flex;
  margin: 0 auto;
  text-align: left;
}

@include wide-and-below {
  .project-data > * {
    padding: 0 1rem;
  }
}

.project-data .team {
  width: 100%;
  padding-right: 2rem;
}

.project-data .team :is(ol, ul) {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.project-data .team li {
  display: inline;
  margin-top: 0;
}

.project-data .team li:not(:last-child)::after {
  content: ", "
}

.project-data .team li:last-child:not(:only-child)::before {
  content: "and ";
}

.project-data .team li:last-child:not(:only-child)::after {
  content: ".";
}

.project-data .responsibilities li:not(:first-child) {
  text-transform: lowercase;
}
