// .work .overline {
//   left: 0;
//   width: 100%;
// }
//
// .work .overline::before {
//   flex: 1 1;
//   width: auto;
// }


.company {
  margin: var(--font-space-md) 0 0;
}

  .company:first-of-type {
    margin-top: 0;
  }

.timeline {
  margin: 8rem 0 0;
  position: relative;
}

.timeline::before {
  content: "";
  display: block;
  width: .20rem;
  height: 6rem;
  background: var(--color-border);
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1px;
}

.position {
  margin-bottom: 2rem;
}

.position.timeline + .position.timeline {
  margin-top: 4rem;
}

.position.timeline + .position.timeline::before {
  height: 2rem;
  top: -4rem;
}

.company + .position {
  margin-top: var(--font-space-sm);
}

.work .company,
.work .position {
  text-align: center;
}

.media {
  margin: 0 auto 2rem;
  text-align: center;
}

.media figcaption {
  padding: 0 .5rem;
  font-size: var(--font-size-sm);
}

.media .project-data,
.media img {
  max-width: 1600px;
  margin: 0 auto;
}

.media img {
  width: 100%;
  height: auto;
}

.media .project-data {
  display: flex;
  margin: 0 auto;
  text-align: left;
}

@include wide-and-below {
  .project-data > * {
    padding: 0 1rem;
  }
}

.project-data .team {
  width: 90%;
  padding-right: 2rem;
}

.project-data .team ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.project-data .team li {
  display: inline-block;
  margin-top: 0;
}

.project-data .team li:not(:last-child)::after {
  content: ", "
}

.project-data .team li:last-child:not(:only-child)::after {
  content: "."
}

// .display.position {
//   margin-top: 2rem;
//   padding-top: 2rem;
//   border-top: .20rem solid var(--color-border);
// }
//
// .company + .display.position {
//   border-top: 0 none;
//   padding-top: 0;
//   margin-top: var(--font-space-md);;
// }
