<!doctype html>
<html lang="en" class="{{ page.class }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title | replace: "-", " " }}</title>
<meta name="description" content="{{ page.description | strip_html }}">
<link rel="preload" href="/css/webfonts/barlow-v5-latin-500.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/css/webfonts/barlow-v5-latin-700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/css/webfonts/barlow-v5-latin-500italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/css/webfonts/barlow-condensed-v5-latin-800italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/images/favicon-touch.png">
</head>
<body>
{% include nav-main.html %}
<article>
  <section class="masthead">
    <header>
      <h1 class="display5 overline">{{ page.title }}</h1>
      <h2 class="display1">{{ page.subtitle }}</h2>
      <p>{{ page.description }}</p>
    </header>

    <picture class="full-width">
      <source
        media="(min-width: 1024px)"
        srcset="/images/{{ page.image }}-desktop.jpg 1x,
                /images/{{ page.image }}-desktop@2x.jpg 2x">
      <source
        media="(min-width: 415px)"
        srcset="/images/{{ page.image }}-tablet.jpg 1x,
                /images/{{ page.image }}-tablet@2x.jpg 2x">
      <img class="background"
        src="/images/{{ page.image }}-phone.jpg" alt="{{ page.image-description }}"
        srcset="/images/{{ page.image }}-phone@2x.jpg 2x" width="100%">
    </picture>
    <a href="#content" class="read-more" title="Read more… ">{{ page.icon }}</a>
  </section>

  <section id="content" class="content wrapper alternate">
    {{ content }}
  </section>
</article>
{% include nav-footer.html %}
</body>
</html>
