<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700;1,800&family=Source+Serif+Pro:ital@0;1&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="/images/favicon.svg">
<link rel="apple-touch-icon" href="/images/favicon-touch.png">
<link rel="icon" href="/images/favicon-touch.png">
<title>{{ page.title | replace: "-", " " }}</title>
</head>
<body class="{{ page.body-class }}">
{{ content }}
</body>
</html>
