<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="/css/webfonts/source-serif-pro-v10-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/css/webfonts/source-serif-pro-v10-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/css/webfonts/barlow-condensed-v5-latin-800italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/css/webfonts/barlow-condensed-v5-latin-700italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/css/style.css">
<link rel="apple-touch-icon" href="/images/favicon-touch.png">
<link rel="shortcut icon" href="/images/favicon.svg">
<title>{{ page.title | replace: "-", " " }}</title>
</head>
<body class="{{ page.body-class }}">
{{ content }}
</body>
</html>
