/*Easier sizing*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@include tablet-and-above {
  body > * {
    padding: 0 2rem; /*32px*/
  }
}

@include tablet-and-below {
  body > * {
    padding: 0 1rem; /*16px*/
  }
}
