html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  background-color: var(--background-color);
  color: var(--color-text);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
    -webkit-overflow-scrolling: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-margin-top: 1rem;
}

*:first-child {
  margin-block-start: 0;
}

*:last-child {
  margin-block-end: 0;
}

body {
  margin: 0;
}

.simple body {
  padding-top: 3rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(64ch, 100%) 1fr;
}

.wrapper > *:not(.full-width) {
  grid-column: 2;
  padding: 0 1rem;
}

.wrapper .full-width {
  width: 100%;
  grid-column: 1 / 4;
}

article > .wrapper,
article.wrapper {
  padding: 4rem 0;
}

.alternate {
  background-color: var(--background-color-alternate);
  overflow: hidden;
}

.nav-main + .alternate {
  padding-top: 6rem;
}

@include tablet-and-above {
  .alternate {
    margin: 0 .5rem;
  }

  .alternate {
    transform: matrix(1, -.056, 0, 1, 0, 0);
  }

  .masthead + .alternate {
    position: relative;
    top: -2rem;
  }

  .alternate > * {
    transform: matrix(1, .056, 0, 1, 0, 0);
  }

  .alternate::before,
  .alternate::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background-color-alternate);
    z-index: -1;
    pointer-events: none;
    -webkit-backdrop-filter: blur(.25rem);
    backdrop-filter: blur(.25rem);

  }

  .alternate::before {
    top: 1rem;
    transform: matrix(1, -0.012, 0, 1, 0, 0);
  }

  .alternate::after {
    content: "";
    top: 1.5rem;
    transform: matrix(1, 0.024, 0, 1, 0, 0);
  }

  article > .wrapper {
    padding: 8rem 0;
  }
}

// Reading progress scroll bar with CSS
.progress-indicator {
  background: linear-gradient(to right top, var(--color-accent) 50%, var(--background-color) 50%) no-repeat;
  background-size: 100% calc(100% - 100vh + .16rem);
  z-index: 0; // -1 prevents the main nav to scroll
  position: relative;
}

.progress-indicator::before {
  content: "";
  position: fixed;
  left: 0;
  top: .158rem;
  bottom: -8rem;
  z-index: -1;
  width: 100%;
  background-color: var(--background-color);
  pointer-events: none;
}
