/* SCSS Variables */
$breakpoint-tablet-width: 768px;
$breakpoint-desktop-width: 1112px;
$breakpoint-desktop-wide-width: 1600px;

@mixin tablet-and-below {
  @media screen and (max-width: #{$breakpoint-tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet-and-above {
  @media screen and (min-width: #{$breakpoint-tablet-width}) {
    @content;
  }
}

@mixin desktop-and-below {
  @media screen and (max-width: #{$breakpoint-desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-and-above {
  @media screen and (min-width: #{$breakpoint-desktop-width}) {
    @content;
  }
}


@mixin wide-and-below {
  @media screen and (max-width: #{$breakpoint-desktop-wide-width - 1px}) {
    @content;
  }
}

@mixin wide-and-above {
  @media screen and (min-width: #{$breakpoint-desktop-wide-width}) {
    @content;
  }
}
