:root {
  font-size: clamp(1.125rem, calc(1rem + .875vmin), 1.875rem);
  line-height: 1.5;
  font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: var(--font-weight-regular);
  text-rendering: optimizeLegibility;
}

@include desktop-and-below {
  :root {
    --scalar: 1.333; // Perfect fourth
  }
}

@include wide-and-above {
  :root {
    --scalar: 1.618; // Golden ratio
  }
}

:is(h1, h2, h3, h4, h5, h6),
.display,
.recommendations li::after {
  font-family: "Barlow Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: var(--font-weight-extra-bold);
  font-style: italic;
  text-transform: uppercase;
}

h1,
.display1 {
  font-size: var(--font-size-xxxl);
  margin: var(--font-space-xxxl) 0 var(--font-space-sm); //48 x 24px
  line-height: 1; //40px
}

h2,
.display2 {
  font-size: var(--font-size-xxl);
  margin: var(--font-space-xxl) 0 var(--font-space-sm); //32 x 20px
  line-height: 1.15;
}

h3,
.display3 {
  font-size: var(--font-size-xl);
  margin: var(--font-space-xxl) 0 var(--font-space-md); //24 x 16px
  line-height: 1.20;
}

h4,
.display4 {
  font-size: var(--font-size-lg);
  margin: var(--font-space-xl) 0 var(--font-space-sm); //24 x 8px
  line-height: 1.25;
}

h3 + h4 {
  margin-top: var(--font-space-sm);
}

h5,
.display5 {
  font-size: var(--font-size-md);
  margin: var(--font-space-lg) 0 var(--font-space-sm); //24 x 8px
  line-height: 1.25;
}

h6,
.display6 {
  font-size: var(--font-size-sm);
  margin: var(--font-space-md) 0 0; //24 x 8px
  line-height: 1.5;
  letter-spacing: .04em;
}

// Remove spaces after headings, especially useful to prevent margin stacking in h + h
:is(h1, h2, h3, h4, h5, h6) + p,
:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6)[class],
:is(h1, h2, h3, h4, h5, h6).tight {
  margin-top: 0;
}

@supports ((-webkit-text-stroke-color: #fff) and (-webkit-text-fill-color: transparent)) {
  .display__stroke,
  .recommendations li::after {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--color-text);
    -webkit-text-stroke-width: .09375rem;
    paint-order: stroke fill;
  }
}

.display__background,
.recommendations li::after {
  -webkit-text-stroke-color: var(--color-border);
}

.display__background {
  margin: 0 0 0 -.05em;
  font-size: calc(1rem + 40vw);
  position: absolute;
  text-align: center;
  color: var(--color-border);
}

.overline {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--font-space-sm);
  color: var(--color-accent);
  line-height: 1;
  letter-spacing: .01em;
}

.overline:not(:first-child) {
  margin-top: var(--font-space-xxxl);
}

.overline::before,
.overline::after {
  content: "";
  display: inline-block;
  transform: translateY(50%) skew(-.16rad);
  margin: auto;
  border-bottom: .20rem solid var(--color-accent);
}

.overline::before {
  width: calc(1rem - 1ch);
  margin-right: 1ch;
}

.overline::after {
  margin-left: 1ch;
  flex: 1 1;
}

.content .overline {
  width: calc(100% + 1rem);
  position: relative;
  left: -1rem;
}

.masthead .overline + h2 {
  position: relative;
}

.masthead .overline + h2::after {
  content: "";
  position: absolute;
  bottom: -.20rem;
  left: 0;
  right: 0;
  transform: skew(-.16rad);
  border-bottom: .20rem solid var(--color-accent);
}

// Let the overline breathe when there's something below
.overline + * {
  margin-top: var(--font-space-md);
}

p {
  margin: 1rem 0 0;
  word-wrap: break-word; //Preventing ultra long words to break the layout
}

@supports (-webkit-initial-letter: 2) {
  .first__letter::first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
    margin-right: .6ch;
    color: var(--color-accent);
    font-style: normal;
  }
}

ul,
ol {
  list-style-position: outside;
  margin-top: 0;
  padding-left: 1em;
}

ul {
  list-style-type: square;
}

ul li::marker {
  color: var(--color-accent);
}

ul li + li {
  margin-top: .25rem;
}

.list-clean,
.list-clean__children :is(ul, ol) {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

strong {
  font-weight: var(--font-weight-bold);
}

small,
.small {
  font-size: var(--font-size-sm);
  line-height: 1.5;
}

:is(h1, h2, h3, h4, h5, h6, h1[class], h2[class], h3[class], h4[class], h5[class], h6[class]) small {
  display: block;
  margin-top: .25em;
  font-size: .6em;
  color: var(--color-accent);
}

cite {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 2rem 0rem;
}

blockquote p {
  position: relative;
  font-style: italic;
}

blockquote cite {
  display: block;
  font-style: italic;
}

blockquote p:first-of-type::before {
  content: "\201C";
  left: -.45em;
  line-height: 1em;
  position: absolute;
  font-size: var(--font-size-xxl);
}

// Quotes
blockquote p:only-of-type::after,
blockquote p:nth-child(n+2)::after {
  content: "\201D";
}

blockquote p::before,
blockquote p::after {
  color: var(--color-accent);
}

.recommendations {
  counter-reset: recommendations;
  list-style: none;
}

.recommendations cite {
  font-size: var(--font-size-sm);
  margin-top: var(--font-space-md);
}

.recommendations li {
  position: relative;
  border-top: .20rem solid var(--color-border);
}

.recommendations li::after {
  counter-increment: recommendations;
  content: counter(recommendations, decimal-leading-zero);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: var(--font-size-xxxl);
  color: var(--color-border);
}

abbr {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: .10em;
  text-underline-offset: .16em;
  text-decoration-skip-ink: auto;
  cursor: help;
}

pre, code, kbd {
  border-radius: 1px;
  overflow-wrap: break-word; /*Preventing ultra long stuff to overflow the container*/
  overflow-x: auto;
  font-weight: var(--font-weight-regular);
  font-size: .84em;
}

pre, code {
  font-family: "SF Mono", "Source Code Pro", Consolas, Menlo, monospace;
}

code {
  padding: .2em;
  background-color: var(--color-border);
  text-shadow: 0 .055em 0 var(--background-color);
}

hr {
  display: block;
  width: calc(100% - 2rem);
  width: 100%;
  height: .2rem;
  margin: 2rem auto;
  border: 0 none;
  background-color: var(--color-border);
  transform: skew(-.16rad);
}

// hr + * {
//   margin-top: 2rem;
// }

.accent {
  color: var(--color-accent);
}
