html {
  font: $font-regular 16px/1.5 Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-dark-primary;
  text-rendering: optimizeLegibility;
}

.dark-theme {
  background-color: $background-dark;
  color: $text-light-primary;
}

/*Basic heading styles*/
h1, .display1,
h2, .display2,
h3, .display3,
h4, .display4,
h5, .display5 {
  font-family: "League Gothic Webfont";
  font-weight: $font-regular;
  text-transform: uppercase;
  word-wrap: break-word;
  color: $color-dark-base;
}

  .dark-theme h1, .dark-theme .display1,
  .dark-theme h2, .dark-theme .display2,
  .dark-theme h3, .dark-theme .display3,
  .dark-theme h4, .dark-theme .display4,
  .dark-theme h5, .dark-theme .display5,
  .dark-theme th {
    color: $color-light-base;
  }

h1, .display1 {
  font-size: 2.75rem; /*44px*/
  line-height: 3rem; /*48px*/
  margin: 3rem 0 2rem; /*48px*/
}

h2, .display2 {
  font-size: 2rem; /*32px*/
  line-height: 2.5rem; /*40px*/
  margin: 3rem 0 1.5rem; /*40px*/
}

h3, .display3 {
  font-size: 1.625rem; /*26px*/
  line-height: 2rem; /*32px*/
  margin: 2rem 0 1rem; /*32px*/
}

h4, .display4 {
  font-size: 1.375rem; /*22px*/
  line-height: 1.75rem; /*28px*/
  margin: 2rem 0 1rem; /*32px*/
}

h5, .display5 {
  font-size: 1rem; /*16px*/
  line-height: 1.5rem; /*24px*/
  margin: 1.5rem 0 .5rem; /*32px*/
}

h6, .h6 {
  display: block;
  font-size: .75rem; /*12px*/
  line-height: 1.25rem; /*20px*/
  margin: 1.5rem 0 .5rem; /*32px*/
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

th {
  text-align: left;
}

a {
  color: inherit;
  font-style: inherit;
  font-weight: $font-bold;
  // text-decoration: none;
  text-decoration-color: $color-accent;
  text-decoration-skip: ink;
}

h1 a, .display1 a,
h2 a, .display2 a,
h3 a, .display3 a,
h4 a, .display4 a,
h5 a, .display5 a,
th a {
  font-weight: inherit;
}

h1 strong, .display1 strong,
h2 strong, .display2 strong,
h3 strong, .display3 strong,
h4 strong, .display4 strong,
h5 strong, .display5 strong,
th strong {
  font-weight: inherit;
}

p,
ul, ol,
pre,
blockquote {
  margin: 0 0 1rem;
  font-size: 1.25rem;
}

p {
  word-wrap: break-word;
}

.lead {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 1.5rem 0;
}

ul, ol {
  list-style-position: outside;
  margin-top: 0;
  padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

pre code {
  display: block;
  padding: 1rem;
  border-radius: $radius-default;
}

blockquote {

}

q::before {
  content: "\201C";
  margin-left: -.6ex;
}

q::after {
  content: "\201D";
}

pre, code, kbd {
  border-radius: $radius-default;
  overflow-wrap: break-word; /*Preventing ultra long stuff to overflow the container*/
  overflow-x: auto;
  font-weight: $font-regular;
  background-color: $background-light;
  color: $text-dark-secondary;
  font-size: .875em;
}

pre, code {
  font-family: "SF Mono", "Source Code Pro", Consolas, Menlo, monospace;
}

code {
  padding: .0625em .25em;
  box-shadow: inset 0 0 0 1px $border-dark-primary;
}

pre code {
  font-size: .875rem;
  box-shadow: inset 0 0 0 1px $border-dark-secondary;
}

kbd {
  padding: .2em .4em;
  font-family: inherit;
  box-shadow: inset 0 0 0 1px $border-dark-primary,
              inset 0 -2px 0 $border-dark-secondary;
}
