:root {
  --scalar: 1.5; // Ratio: Perfect fifth

  --font-size-sm: calc(1 / var(--scalar) * 1rem);
  --font-size-md: 1rem;
  --font-size-lg: calc(var(--scalar) * 1rem);
  --font-size-xl: calc(var(--scalar) * var(--scalar) * 1rem);
  --font-size-xxl: calc(var(--scalar) * var(--scalar) * var(--scalar) * 1rem);
  --font-size-xxxl: calc(var(--scalar) * var(--scalar) * var(--scalar) * var(--scalar) * 1rem);
  --font-size-max: calc(var(--scalar) * var(--scalar) * var(--scalar) * var(--scalar) * var(--scalar) * var(--scalar) * var(--scalar) * var(--scalar) * 1rem);;

  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  // Spacing
  --space-unit: .5rem;

  --font-space-sm: calc(1 * var(--space-unit));
  --font-space-md: calc(2 * var(--space-unit));
  --font-space-lg: calc(3 * var(--space-unit));
  --font-space-xl: calc(4 * var(--space-unit));
  --font-space-xxl: calc(5 * var(--space-unit));
  --font-space-xxxl: calc(6 * var(--space-unit));

  // Easing
  --easing: cubic-bezier(.46, .01, .14, 1.40);

  // Primary colors
  // Morado + Rojo
  --color-base-dark: 252, 32%, 16%;
  --color-base-light: 252, 32%, 98%;
  --color-highlight-light: 352, 64%, 56%;
  --color-highlight-dark: 352, 100%, 72%;
  // --color-base-dark: 40, 3%, 19%;
  // --color-base-light: 35, 51%, 93%;
  // --color-highlight-light: 11, 62%, 56%;
  // --color-highlight-dark: 11, 68%, 67%;

  // Theme labs
  --color-labs-base-dark: 252, 32%, 16%;
  --color-labs-base-light: 252, 32%, 98%;
  --color-labs-highlight-light: 180, 80%, 32%;
  --color-labs-highlight-dark: 175, 100%, 54%;

  // Theme Cabify
  --color-cabify-base-dark: 238, 32%, 16%;
  --color-cabify-base-light: 0, 100%, 100%;
  --color-cabify-highlight-light: 252, 100%, 72%;
  --color-cabify-highlight-dark: 249, 100%, 74%;

  // Defaults (light mode)
  --background-color: hsl(var(--color-base-light));
  --background-color-transparent: hsla(var(--color-base-light), .98);
  --background-color-alternate: hsla(var(--color-base-dark), .016);
  --color-text: hsl(var(--color-base-dark));
  --color-border: hsla(var(--color-base-dark), .06);
  --color-accent: hsl(var(--color-highlight-light));
}

.cabify:root {
  --background-color: hsl(var(--color-cabify-base-light));
  --background-color-transparent: hsla(var(--color-cabify-base-light), .98);
  --background-color-alternate: hsla(var(--color-cabify-base-dark), .010);
  --color-text: hsl(var(--color-cabify-base-dark));
  --color-border: hsla(var(--color-cabify-base-dark), .06);
  --color-accent: hsl(var(--color-cabify-highlight-light));
}

.labs:root {
  --background-color: hsl(var(--color-labs-base-light));
  --background-color-transparent: hsla(var(--color-labs-base-light), .98);
  --background-color-alternate: hsla(var(--color-labs-base-dark), .010);
  --color-text: hsl(var(--color-cabify-labs-dark));
  --color-border: hsla(var(--color-labs-base-dark), .06);
  --color-accent: hsl(var(--color-labs-highlight-light));
}

// Dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(var(--color-base-dark));
    --background-color-transparent: hsla(var(--color-base-dark), .98);
    --background-color-alternate: hsla(var(--color-base-light), .010);
    --color-text: hsl(var(--color-base-light));
    --color-border: hsla(var(--color-base-light), .04);
    --color-accent: hsl(var(--color-highlight-dark));
  }

  .cabify:root {
    --background-color: hsl(var(--color-cabify-base-dark));
    --background-color-transparent: hsla(var(--color-cabify-base-dark), .98);
    --background-color-alternate: hsla(var(--color-cabify-base-light), .012);
    --color-text: hsl(var(--color-cabify-base-light));
    --color-border: hsla(var(--color-cabify-base-light), .04);
    --color-accent: hsl(var(--color-cabify-highlight-dark));
  }

  .labs:root {
    --background-color: hsl(var(--color-labs-base-dark));
    --background-color-transparent: hsla(var(--color-labs-base-dark), .98);
    --background-color-alternate: hsla(var(--color-labs-base-light), .012);
    --color-text: hsl(var(--color-labs-base-light));
    --color-border: hsla(var(--color-labs-base-light), .04);
    --color-accent: hsl(var(--color-labs-highlight-dark));
  }
}

@supports (backdrop-filter: blur(2rem)) or (-webkit-backdrop-filter: blur(2rem)) {
  :root {
    --background-color-transparent: hsla(var(--color-base-light), .80);
  }

  .cabify:root {
    --background-color-transparent: hsla(var(--color-cabify-base-light), .80);
  }

  .labs:root {
    --background-color-transparent: hsla(var(--color-labs-base-light), .80);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color-transparent: hsla(var(--color-base-dark), .72);
    }

    .cabify:root {
      --background-color-transparent: hsla(var(--color-cabify-base-dark), .72);
    }

    .labs:root {
      --background-color-transparent: hsla(var(--color-labs-base-dark), .72);
    }
  }
}
