:root {
  --scalar: 1.5; // Ratio: Perfect fifth

  --font-size-sm: calc(1 / var(--scalar) * 1rem);
  --font-size-md: 1rem;
  --font-size-lg: calc(var(--scalar) * 1rem);
  --font-size-xl: calc(var(--scalar) * var(--scalar) * 1rem);
  --font-size-xxl: calc(var(--scalar) * var(--scalar) * var(--scalar) * 1rem);
  --font-size-xxxl: calc(var(--scalar) * var(--scalar) * var(--scalar) * var(--scalar) * 1rem);
  --font-size-max: calc(var(--scalar) * var(--scalar) * var(--scalar) * var(--scalar) *var(--scalar) * .9rem);
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  // Spacing
  --space-unit: .5rem;

  --font-space-sm: calc(1 * var(--space-unit)); //8px (10px)
  --font-space-md: calc(2 * var(--space-unit)); //16px (20px)
  --font-space-lg: calc(3 * var(--space-unit)); //24px (30px)
  --font-space-xl: calc(4 * var(--space-unit)); //32px (40px)
  --font-space-xxl: calc(5 * var(--space-unit)); //40px (50px)
  --font-space-xxxl: calc(6 * var(--space-unit)); //48px (60px)

  --module-space-sm: calc(1 * var(--space-unit)); //8px (10px)
  --module-space-md: calc(2 * var(--space-unit)); //16px (20px)
  --module-space-lg: calc(3 * var(--space-unit)); //24px (30px)
  --module-space-xl: calc(5 * var(--space-unit)); //40px (50px)
  --module-space-xxl: calc(7 * var(--space-unit)); //56px (70px)
  --module-space-xxxl: calc(9 * var(--space-unit)); //72px (90px)

  // Primary colors
  --color-base-dark: 198, 16%, 18%;
  --color-base-light: 352, 32%, 98%;
  --color-highlight-light: 352, 72%, 48%;
  --color-highlight-dark: 352, 100%, 72%;

  // Light background colors
  --color-background-light: hsl(var(--color-base-light));
  --color-background-light-alternate: hsla(var(--color-highlight-light), .04);
  --color-background-dark: hsl(var(--color-base-dark));
  --color-background-dark-alternate: hsla(var(--color-highlight-dark), .06);

  // Text color
  --color-text-light: hsl(var(--color-base-dark));
  --color-text-dark: hsl(var(--color-base-light));

  // UI detail color
  --color-border-light: hsla(var(--color-base-dark), .08);
  --color-border-dark: hsla(var(--color-base-light), .08);

  //Easing
  --easing: cubic-bezier(.46, .01, .14, 1.35);

  // Defaults (light mode)
  --background-color: var(--color-background-light);
  --background-color-alternate: var(--color-background-light-alternate);
  --color-text: var(--color-text-light);
  --color-border: var(--color-border-light);
  --color-accent: hsl(var(--color-highlight-light));
}

// Dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-background-dark);
    --background-color-alternate: var(--color-background-dark-alternate);
    --color-text: var(--color-text-dark);
    --color-border: var(--color-border-dark);
    --color-accent: hsl(var(--color-highlight-dark));
  }
}
