@font-face {
  font-family: "League Gothic Webfont";
  src: url('webfonts/leaguegothic-italic-webfont.woff') format('woff');
  //unicode-range: U+000-5FF; /* Latin glyphs */
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}
